extends ../layout

block content
  h1= title
  a(href='../..') <- Back
  h2= sarja
  div(class='overflow')
    table(class='results')
      thead
        tr
          th No
          th Name
          th Start time
      tbody
        each rivi, ind in lahtoajat
          tr(class=ind%2 == 0 ? "evenres" : "oddres")
            td
              =rivi.nro
            td
              =rivi.nimi
            td
              =rivi.lahtoaika
