body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
}

a {
  color: #00B7FF;
}

.even {
  background-color: #f4f4f4;
}

.odd {
  background-color: #f4f4f4;
}

.evenres {
  background-color: #adf;
}

.oddres {
  background-color: #fff;
}

table, th, td {
  border: 0px solid black;
  border-collapse: collapse;
  text-align: left;
}

td, th {
  padding-left: 10px;
}

.sarja {
  color: #fff;
  background-color: #39f;
}

.results td, .results th {
  border: 1px solid black;
}

.overflow {
  overflow-x: auto;
}
